html,body{
    margin:0;
    padding:0;
    background-color:rosybrown;
    color: whitesmoke;
}

.container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 5px;
}

/*range is between 300 px and 800 px*/

@media all and (max-width:800px) and (min-width:300px){
    .container{
        grid-template-columns: repeat(2,1fr) !important;
    }
}

.box{
    background-color: green;
    color:white;
    font-size: 20pt;
    padding: 10px;
    text-align: center;
}